body {
    font-family: 'Montserrat', sans-serif;
}

.clearfix {
    clear: both;
}

.container {
    margin-top: 51px;
}

#login-container {
    background-color: #313e4b;
    padding: 40px 20px 60px;
    color: #c1cbcc;
    text-align: center;
}

#login-container h1 {
    margin-top: 0;
    margin-bottom: 40px;
}

#login-form input {
    padding: 15px;
}

#profile-form input {
    padding: 10px;
}

input
{
	margin-top: 15px;
}

.btn-slate {
    color: #313e4b;
    background-color: #C1CBCC;
    border-color: #FDFEFF;
}

.btn-slate:hover {
    background-color: #9d9d9d;
    border-color: #204d74;
}
.btn, .dashboard-left {
    margin-top: 20px;
}

#nau {
    margin-top: 26px;
}

.img-responsive {
    margin: 0 auto;
}

.register-button, .col-sm-offset-2 {
    padding-right: 0 !important;
}

.register-button p {
    margin-top: 26px;
}

label.col-sm-4.control-label {
    margin-top: 15px;
}

hr.styled {
    border: 0;
    height: 1px;
    background: #313e4b;
    background-image: linear-gradient(to right, #ccc, #313e4b, #ccc);
}

td button.btn-danger {
    float: right;
}

p.bg-info, p.bg-primary {
    padding: 10px 15px;
}

.bs-callout-danger {
    margin-top: 15px;
    padding-left: 5px;
    border: 1px solid #ce4844;
    border-left-width: 5px;
    border-radius: 3px;
}


/* Error Classes
*****************************/
.bg-danger {
    padding: 15px;
}

.has-error {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}

.errors p {
    text-align: left;
}